<nav>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/">🏠 Home</a>
    </li>
  </ul>
  <h2 class="underlined">Topics</h2>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/topics/what-is-intelligence">1. What is Intelligence?</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/topics/purpose-of-ai">2. The Purpose of AI in Society</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/topics/reinforcement-learning"
        >3. How Reinforcement Learning Works</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="/topics/game-strategy-vs-ai"
        >4. Game Strategies vs. AI Learning</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="/topics/heuristics-vs-emergent"
        >5. Heuristics vs. Emergent Behavior</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="/topics/visualization-techniques"
        >6. Visualization Techniques in Education</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="/topics/state-space-and-generalization"
        >7. State Space and Generalization in AI</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="/topics/ai-vs-human-creativity"
        >8. AI Creativity vs. Human Creativity</a
      >
    </li>
    <li routerLinkActive="active">
      <a routerLink="/gridworld/overview">📘 Gridworld Overview</a>
    </li>
  </ul>
  <h2>🧩 Interactive Demos</h2>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/gridworld">Gridworld Maze</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/docs/gridworld-overview">Gridworld Overview (Docs)</a>
    </li>
  </ul>
</nav>
